body{
    font-family: Arial, Helvetica, sans-serif;
    color: #665544;
    padding: 0 15% 0 15%;
}

i{
    color: darkgreen;
}

h1{
    font-family: 'Pacifico', cursive;
    font-family: 'Phudu', cursive;
    font-style: italic;
    text-align: center;
    color: blue;
    font-size: 400%;
}

p{
    font-family: 'Pacifico', cursive;
    font-family: 'Phudu', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 200%;
}